extends layout

block content
	h1 Welcome to our #{title}  
	p.lead Please refer to the links and documentation below as to how best to use it.
	<p class="lead">

	</p>
	div#routes
	
	script(src="//code.jquery.com/jquery-1.10.2.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.min.js")
	script(type="text/javascript" src="/javascripts/main.js")

	include hbars.html